body {
    margin: 0
}

.font_Poppins_12px {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}

.font_Poppins_14px {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.flex_column_center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*HOME SCREEN*/

.main_contain {
    position: relative;
    width: 417px;
    height: 872px;
    background: linear-gradient(to bottom, rgb(42, 42, 121), rgb(115, 208, 238))
}

/* header */

.header_contain {
    position: absolute;
    width: 387px;
    height: 16px;
    left: 15px;
    right: 15px;
    top: 10px;
}

.header_time {
    position: absolute;
    width: 22px;
    height: 12px;
    top: 12px;
    color: #FFFFFF;
}

.header_settings {
    position: absolute;
    width: 57px;
    height: 16px;
    right: 1px;
    top: 10px;
    gap: 6px;
}

.header_icons {
    width: 15px;
    height: 15px;
}

.header_position {
    position: absolute;
    width: 387px;
    height: 35px;
    top: 60px;
    margin-left: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_left_icon {
    width: 90px;
    height: 35px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.logo_icon {
    width: 90px;
}

.header_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background: #6865A5;
    border-radius: 5px;
    cursor: pointer;
}

.position_phone {
    height: 14px;
    color: #ffffff;
}

.header_right_icon {
    width: 90px;
    height: 35px;
    display: flex;
    justify-content: flex-end;
}

.header_refresh {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    cursor: pointer;
}

.sub_header_title {
    height: 12px;
    font-size: 18px;
    color: #FFFFFF;
}