body {
    margin: 0
}

.font_Poppins_12px {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}

.font_Poppins_14px {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.flex_column_center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*HOME SCREEN*/

.main_contain {
    position: relative;
    width: 417px;
    height: 872px;
    background: linear-gradient(to bottom, rgb(42, 42, 121), rgb(115, 208, 238))
}

/* header */

.header_contain {
    position: absolute;
    width: 387px;
    height: 16px;
    left: 15px;
    right: 15px;
    top: 10px;
}

.header_time {
    position: absolute;
    width: 22px;
    height: 12px;
    top: 12px;
    color: #FFFFFF;
}

.header_settings {
    position: absolute;
    width: 57px;
    height: 16px;
    right: 1px;
    top: 10px;
    gap: 6px;
}

.header_icons {
    width: 15px;
    height: 15px;
}

.header_position {
    position: absolute;
    width: 387px;
    height: 35px;
    top: 60px;
    margin-left: 13px;
    display: flex;
    justify-content: space-between;
}

.header_left_icon {
    width: 51px;
    height: 35px;
}

.logo_icon {
    width: 50px;
    height: 34px;
}

.header_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background: #6865A5;
    border-radius: 5px;
    cursor: pointer;
}

.position_phone {
    width: 37px;
    height: 14px;
    color: #ffffff;
}

.header_right_icon {
    width: 35px;
    height: 35px;
}

.header_refresh {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    cursor: pointer;
}

.sub_header_title {
    height: 12px;
    font-size: 18px;
    color: #FFFFFF;
}

/* Today's weather container*/
.today_weather_container {
    position: absolute;
    width: 225px;
    height: 305px;
    left: 96px;
    top: 106px;
}

.weather_description {
    height: 17px;
    line-height: 17px;
    color: #DEDDDD;
}

.today_complete_date {
    display: flex;
    height: 17px;
    line-height: 17px;
    color: #DEDDDD;
}

.today_weather_img {
    width: 172px;
    height: 139px;
    padding-top: 18px;
    padding-bottom: 28px;
}

.today_weather_cont_temperature {
    height: 80px;
    padding-bottom: 6px;
    display: flex;
}

.today_weater_temperature {
    height: 80px;
    font-weight: 600;
    font-size: 81px;
    line-height: 80px;
    color: #FFFFFF;
}

.today_weather_ellipse {
    width: 16px;
    height: 16px;
}

/* Today's more info container*/
.more_info_container {
    position: absolute;
    width: 295px;
    height: 95px;
    left: 61px;
    top: 430px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
}

.more_info_precipitation {
    width: 78px;
    height: 68px;
}

.more_info_humidity {
    width: 56px;
    height: 68px;
}

.more_info_wind {
    width: 73px;
    height: 68px;
}

.info_number {
    line-height: 21px;
    color: white;
}

.info_text {
    line-height: 18px;
    color: white;
}

/*Today's different info during the day*/
.hours_info_container {
    position: absolute;
    width: 399px;
    height: 128px;
    left: 10px;
    top: 555px;
}

.hours_info_text {
    display: flex;
    justify-content: space-between;
}

.hours_info_text_a {
    height: 18px;
    line-height: 18px;
    color: white;
}

.hours_info_weather {
    padding-top: 11px;
    display: flex;
    gap: 10px;
    overflow: scroll;
}

.hour_weather {
    width: 58px;
    height: 99px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    justify-content: center;
}

.days_hour {
    height: 18px;
    line-height: 18px;
    color: white;
}

.days_weather {
    width: 38px;
    height: 39px;
    padding-top: 3px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.days_temp_cont {
    height: 18px;
    display: flex;
}

.days_temp {
    height: 18px;
    line-height: 18px;
    color: white;
}

.hours_ellipse {
    width: 2px;
    height: 2px;
}

/*Today's other cities temperature*/
.other_cities_temp {
    position: absolute;
    width: 402px;
    height: 78.05px;
    left: 15px;
    top: 713px;
}

.other_cities_text {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    padding-bottom: 10px;
}

.other_cities_cont::-webkit-scrollbar {
    display: none;
}

.other_cities_cont {
    display: flex;
    gap: 10px;
    overflow: scroll;
}

.new_city {
    width: 156px;
    height: 50px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.new_city_img {
    width: 37px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.new_city_weather {
    height: 30px;
    width: 72px;
}

.new_city_name {
    width: 36px;
    height: 15px;
    line-height: 15px;
    color: white;
    margin: 0;
    padding-bottom: 5px;
}

.new_city_descr {
    width: 32px;
    height: 13px;
    font-size: 10px;
    line-height: 13px;
    color: white;
    margin: 0;
}

.new_city_temp_cont {
    padding-right: 12px;
    display: flex;
}

.new_city_temp {
    width: 11px;
    height: 15px;
    font-size: 16px;
    line-height: 15px;
    color: white;
    margin: 0;
}

.new_city_ellipse {
    width: 4px;
    height: 4px;
}