<div class="menu_bottom">
  <div class="menu_cont menu_back1" onclick="openHome()">
    <img src="assets/icons/home.svg" class="icons_menu_h" />
  </div>
  <div class="menu_cont menu_back2" onclick="openOtherCities()">
    <img src="assets/icons/lupe.png" class="icons_menu_l" />
  </div>
  <div class="menu_cont menu_back3" onclick="openZoneWeather()">
    <img src="assets/icons/sun.svg" class="icons_menu_s" />
  </div>
  <div class="menu_cont menu_back4" onclick="openOthers()">
    <img src="assets/icons/others.png" class="icons_menu_o" />
  </div>
</div>
